{{#partial "title"}}
    DELETE ALL!
{{/partial}}
{{#partial "content"}}
    <form id="delete" method="post" action="/teams/delete/">
        <button type="submit" class="big">DELETE ALL</button>
    </form>
{{/partial}}

{{> layout.hbs}}