{{#partial "content"}}
    <span title="Blow stuff up!"><img src="img/explosion.jpg" /></span>
    <h1>WELCOME TO THE 2018 JOHN ZERZAN HACK-A-THON</h1><br>
    <h4>A hack-a-thon where the goal is to subvert critical infrastructure systems in order to encourage people to adopt Anarcho-Primitivism</h4><br>
    <h6>Theme for this hack-a-thon: Power Plants</h6><br>
    <p>Goal: Shut down a power plant in the next 24 hours</p><br>
    <a href="/teams/display/"><h3>Show all teams</h3><img src="img/TheATeam.jpg" /></a><br>
    <a href="/teams/new/"><h3>Make a new team</h3><img id="new" src="img/NewTeam.jpg"></a><br>
    <a href="/teams/delete/"><h3>Delete All!</h3><img src="img/HistoryEraserButton.jpg" /></a>
{{/partial}}

{{> layout.hbs}}