{{#partial "content"}}
    <h1>WELCOME TO THE 2018 JOHN ZERZAN HACK-A-THON</h1>
    <h4>A hack-a-thon where the goal is to subvert critical infrastructure systems in order to encourage people to adopt Anarcho-Primitivism</h4>
    <h6>Theme for this hack-a-thon: Power Plants</h6>
    <p>Goal: Shut down a power plant in the next 24 hours</p>
    <a href="/display">Show all teams</a>
{{/partial}}